<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Functional Suite" verbose="10" parallel="tests" thread-count="4">
    <test name="Payment Methods Deposits suite / PaymentMethodsTests" parallel="methods" thread-count="10">
        <classes>
            <class name="com.zeke.lesson2.HabrTests"/>
<!--                <methods>-->
<!--                    <include name="checkSearchByNameDigitalOptions"/>-->
<!--                    <include name="checkSearchByTickerDigitalOptions"/>-->
<!--                    <include name="checkTradingHoursDigitalOptions"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>